/* globals.css */

/* Enables smooth scrolling across the entire page */
html {
  scroll-behavior: smooth;
}

@import "tailwindcss"; /* Importing Tailwind CSS */

/* Root-level font size and color settings */
:root {
  --font-size: 16px;
  --background-color: #ffffff;
  --text-color: #171717;
}

.dark {
  --background-color: #121212; /* Dark mode background */
  --text-color: #ffffff; /* Dark mode text color */
}

/* Apply global styles using CSS variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-geist-sans), sans-serif;
}

@layer utilities {
  /* Tailwind utilities for dark mode */
  .dark\:bg-background {
    background-color: var(--background-color);
  }

  .dark\:text-foreground {
    color: var(--text-color);
  }
}
